body {
  margin: 0;
  font-family: "Roboto" ;
}

a {
 text-decoration:none;
 color:blue;
}

time { color:#d3d3d3 }

#root {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

li svg { display:none!important }
.unread { background:yellow }
.unread svg { display:block!important }
