body {
  margin: 0;
  font-family: "Roboto" ;
}

a {
 text-decoration:none;
 color:blue;
}

ul, ol { margin:0;padding:0 }
li { padding:20px 0 20px 0 }

li a div { color:black }

time { color:#d3d3d3 }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  width: 100%;
  margin-bottom:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.2vmin);
  color: white;
}

.App-header .MuiIconButton-root {
  position:absolute!important;
  right:10px;
  display: block;
}
